.container{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    position: relative;
  }
  .container:nth-child(1){
height: auto;

  }
  .naosei{
    display: flex;
    gap: 40px;
  }
 .botaox{
    position: absolute;
    left: 700px;
    top: 0px    
    
 }
 .fechar{

    border-radius: 10px;
    font-weight: bold;

 }
 .fechar:hover, .fechar:focus{

    transition: all 0.1s ease-in-out;
    color: red;
 }

  .conteudo {

    display: flex;
   justify-content: space-between;

  }